<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="/images/seed logo.png" height="28" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse">
                <div class="navbar-nav  ">
                    <a href="#" class="nav-item nav-link active">About Us</a>
                    <a href="#" class="nav-item nav-link">Product & Services</a>
                    <a href="#" class="nav-item nav-link">Carrers</a>
                    <a href="#" class="nav-item nav-link">Contact Us</a>
                    <a href="#" class="nav-item nav-link">Refer & Earn</a>

                </div>

            </div>
        </div>
    </nav>
</div>